Package: com.tko-cuber.lightning
Name: Lightning
Depends: firmware (>= 9.0), mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tweak to speed up iOS!
Maintainer: TKO-Cuber
Author: TKO-Cuber
Section: Tweaks
