Package: com.tko-cuber.dockundock
Name: DockUndock
Depends: firmware (>= 7.0), mobilesubstrate
Architecture: iphoneos-arm
Description: Complete that cool look by "undocking" the dock, that is, hiding it.
Maintainer: TKO-Cuber
Author: TKO-Cuber
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 136
